<div class="container flex_spread">
    <div class="card user_card">
        <div class="user_image">
            <img src="./images/icon_user.png" alt="user_icon">
        </div>
        <div class="user_info">
            <div class="user_name">{{user.user_name}}</div>
            <div class="user_role" style="background-color: {{user_role_color}}">{{user.user_role_name}}</div>
            <div>status = {{user.user_status_name}}</div>
        </div>
    </div>
    <div class="card flex_spread">
        <!--h4>Inbox</h4-->

    </div>
</div>