body {
    background: paleturquoise;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*
main ul
 */

.main_nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: CadetBlue;
    position: sticky;
}

.main_nav_ul li {
    float: left;
}

.main_nav_ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main_nav_ul a:hover {
    background-color: Teal;
}
.main_nav_ul .active {
    background-color: #04AA6D;
}


/*
registration
 */

.reg_container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    /* it is flex max-width */
    max-width: 40rem;
    width: 100%;
}
.reg_bo_info {
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;

    box-shadow: 10px 5px 5px cadetblue;

    font-family: cursive;
}
.reg_box {
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    padding: 50px;

    box-shadow: 10px 5px 5px cadetblue;

    font-family: cursive;
}
.reg_header {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}
.reg_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reg_box > div {
    margin: 25px;
}
.reg_box input {
    padding: 10px;
}
.reg_box label:not(.label_reg) {
    display: block;
    padding: 5px;
}
.display_main, .form_upload {
    background-color: white;
    box-shadow: 10px 5px 5px cadetblue;

    padding: 25px;
    margin: 25px;
    border-radius: 25px;

    font-family: cursive;
}
.reg_button {
    background-color: cadetblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 15px;
    transition-duration: 0.1s;
}
.reg_button:hover {
    background-color: darkcyan; /* Green */
    color: white;
}
