@import url(colors.css);
@import url(global.css);

body {
    background: var(--background-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* main container */
.container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    /* it is flex max-width */
    max-width: 60rem;
    width: 100%;
}
.flex_spread {
    /* spread container */
    flex: 1 1 auto;
}
.card {
    margin-top: 10px;
    padding: 10px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
}
.cell {
    isolation: isolate;
    background: var(--card-color-primary);
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 20px var(--card-color-primary);
}

.messages_grid {
    grid-template-columns: 4fr 6fr;
    grid-template-rows: max-content auto max-content;
    display: grid;
    justify-items: stretch;
    border-radius: 10px;
    grid-gap: 1px;
    outline: 1px solid var(--btn-color);
    background-color: var(--btn-color);

    min-height: 0;
    flex: 1 1 0;
}
.card .messaging {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card .messaging > :first-child {
    margin-top: auto
}
.card .new_message {
    margin-top: auto;
}
.card .message {
    max-width: 60%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
}
.card .message .time p {
    margin: 0;
    color: var(--text-color-primary)
}
.card .message .time {
    font-size: smaller;
    color: var(--text-color-secondary)
}
.card .message_in {
    margin-right: auto;
    margin-left: 10px;
}
.card .message_out {
    margin-left: auto;
    margin-right: 40px;
    background-color: var(--card-color-third);
}
.card .message .attachments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card .message .attachment {
    width: 50%;
    outline: black solid 1px;
    object-fit: cover;
}
.card .message .attachment:first-child {
    width: 100%
}
.card .message .attachment:nth-child(n + 2) { /*last-child:nth-child(even)*/
    height: 100px
}
.card .message .attachment:nth-child(even):last-child {
    width: 100%;
}
.card .message .attachment:nth-child(n + 4) {
    width: 50%
}
.card .message .float {
    position:absolute;
    width:15px;
    height:15px;
    top: 0;
    right: -30px;
    color:var(--text-color-secondary);
    text-align:center;
    padding: 5px;
}
.card .message .float.delete {
    top: 20px;
}
.card .message .float.selected {
    color:skyblue;
}
.card .message .float.selected:hover {
    color:deepskyblue;
}
.card .message .float:hover {
    color:#888;
}

.card .user_list {
    overflow-y: auto;
}
.user_list .user {
    font-size: larger;
    margin-bottom: 10px;
}
.user_list .user:hover {
    color: var(--btn-color-hovered);
}
.user_list .user.active {
    background: var(--card-color-secondary);
    color: var(--btn-color);
    font-style: italic;
}

#message_content {
    resize: none;
    outline: none;
    overflow-y: auto;
}
.message_input_form {
    display: flex;
    align-items: center;
}


.top_left {
    border-top-left-radius: 10px;
}
.top_right {
    border-top-right-radius: 10px;
}
.bottom_left {
    border-bottom-left-radius: 10px;
}
.bottom_right {
    border-bottom-right-radius: 10px;
}
.cell.top {
    background: var(--btn-color);
    color: white;
    font-size: large;
    box-shadow: none;
}


/*
main ul (DUPLICATION)
 */
.main_nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: CadetBlue;
    position: sticky;
}

.main_nav_ul li {
    float: left;
}

.main_nav_ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main_nav_ul a:hover {
    background-color: Teal;
}
.main_nav_ul .active {
    background-color: #04AA6D;
}
.user_info {
    display: flex;
    align-items: baseline;
}
.user_card {
    position: relative;
    flex-direction: row;
}
.user_image {
    height: 100%;
}
.user_name {
    font-size: xx-large;
    border-bottom: black;
}
.user_role {
    border-radius: 10px;
    padding: 5px;
}
.user_card .logout {
    display: flex;
    font-size: 50px;
    top: auto;
    right: 0;
    color: #000;
    text-align: center;
    padding: 25px;
    position: absolute;
}
.user_card .logout:hover {
    color:#444;
}

/*
scrollbar
 */
.messaging::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
.messaging::-webkit-scrollbar-track {
    background: ghostwhite;        /* color of the tracking area */
}
.messaging::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 4px;       /* roundness of the scroll thumb */
    /*border: 3px solid CadetBlue;  /* creates padding around scroll thumb */
}

.user_list::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
.user_list::-webkit-scrollbar-track {
    background: ghostwhite;        /* color of the tracking area */
}
.user_list::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 4px;       /* roundness of the scroll thumb */
    /*border: 3px solid CadetBlue;  /* creates padding around scroll thumb */
}

#message_content::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
#message_content::-webkit-scrollbar-track {
    background: ghostwhite;        /* color of the tracking area */
}
#message_content::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 4px;       /* roundness of the scroll thumb */
    /*border: 3px solid CadetBlue;  /* creates padding around scroll thumb */
}

.btn-send {
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

/*input[type="file"] {*/
/*    display: none;*/
/*}*/

/*.file_upload_label {*/
/*    border: 1px solid #ccc;*/
/*    display: inline-block;*/
/*    padding: 6px 12px;*/
/*    cursor: pointer;*/
/*}*/