:root {
    --shadow-color: #0008;
    --background-color: #121212;
    --card-color-primary: #1E1E1E;
    --card-color-secondary: #2A2A2A;
    --card-color-third: #2d1d10;
    --text-color-primary: #E2E2E2;
    --text-color-white: #fff;
    --text-color-black: #000;
    --text-color-black-secondary: #111;
    --text-color-secondary: #A1A1A1;
    --text-color-error: #ff3333;
    --text-color-success: #56F000;
    --text-color-standby: #2DCCFF;
    --text-color-caution: #FCE83A;
    --text-color-warning: #FFB302;
    --text-color-inaction: #FF0082;
    --btn-color: #ff7300;
    --btn-color-hovered: #ffb273;
    --btn-color-clicked: #cc7640;

    --team-color-blue: #84aaff;
    --team-color-red: #ff8484;
    --team-color-green: #9fff84;
    --team-color-yellow: #fff584;
    --team-color-purple: #b184ff;
    --team-color-orange: #ffbb84;
    --team-color-pink: #ef84ff;
    --team-color-cyan: #84fff1;

    --team-bg-blue: #00277d;
    --team-bg-red: #7d0000;
    --team-bg-green: #347d00;
    --team-bg-yellow: #5e5600;
}