.box {
    color: var(--text-color-primary);
    background-color: var(--card-color-primary);
    border-radius: 25px;

    box-shadow: 0 0 6px 2px var(--shadow-color);
}
.btn {
    border: none;
    color: var(--text-color-primary);
    background-color: var(--btn-color);
    transition-duration: 0.1s;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-size: medium;
}
.btn:hover {
    color: var(--text-color-white);
    background-color: var(--btn-color-hovered);
}
.input_field_label {
    color: var(--text-color-secondary);
}
.input_field {
    border: 1px solid var(--btn-color);
    background-color: var(--card-color-secondary);
    color: var(--text-color-primary);
    border-radius: 10px;
    padding: 2px;
}
.nickname_input {
    width: 100%;
    border-radius: 25px;
    font-size: larger;
    margin-bottom: 10px;
    border-width: 0;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}
textarea {
    resize: none;
    outline: none;
}
.input_field:focus  {
    border-color: var(--btn-color-hovered);
}
.alert {
    padding: 20px;
    font-weight: bold;
}
.alert-danger {
    color: var(--text-color-error)
}
.alert-success {
    color: var(--text-color-success)
}

.link {
    font-size: larger;
    color: var(--btn-color-hovered);
    text-decoration: none;
}
.link:hover {
    color: var(--btn-color-hovered);
}
.link.active {
    font-weight: bold;
    color: var(--btn-color-hovered);
}

.container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    /* it is flex max-width */
    max-width: 60rem;
    width: 100%;
}

.loader {
    border: 32px solid var(--card-color-secondary);
    border-top: 32px solid  var(--btn-color);
    border-radius: 50%;
    animation: spin 2s cubic-bezier(0.55, 0.28, 0.42, 0.69) infinite;
    margin: auto;
    height: 128px;
    aspect-ratio: 1;
    z-index: 15;
    background-color: transparent;
    box-shadow: 0 0 10px 10px var(--shadow-color), inset 0 0 10px 10px var(--shadow-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}