.lobby.table {
    display: grid;

    outline: 1px solid var(--btn-color);
    background-color: var(--btn-color);
    flex: 1;
    border-collapse: collapse;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: max-content auto;

    border-radius: 10px;
    grid-gap: 1px;

}
.lobby h2 {
    margin: 0;
}
.lobby .cell.top {
    box-shadow: unset;
}
.lobby .cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: inset 2px 2px 20px var(--card-color-primary);
    margin: 0;
    isolation: unset;

    align-items: stretch
}
.lobby .card {
    margin-top: 0;
    margin-bottom: 10px;
}
.lobby .box {
    align-items: center;
}
.lobby {
    color: var(--text-color-primary);
}

.team-info, .room-info {
    padding: 20px;
    margin-bottom: 10px;
}
.lobby span {
    overflow-wrap: break-word;
}

.team-info h2, .room-info h2 {
    margin-top: 0;
}
.lobby textarea {
    flex: 1;
}

.join-btn {
    color: var(--text-color-white);
    background-color: var(--btn-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.lobby .message {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    position: relative;
    background-color: transparent;
    max-width: 100%;
    min-width: 0;
}
.lobby .message_in {
    margin-right: auto;
    margin-left: 2px;
    background-color: transparent;
}
.lobby .message_out {
    margin-left: auto;
    margin-right: 2px;
    background-color: transparent;
    text-align: right;
}

.sender {
    font-weight: bold;
    margin-right: 10px;
}
.send_panel {
    display: flex;
}

.team {
    margin-left: 10px;
    font-style: italic;
}

.lobby .cell.top {
    font-size: xx-large;
    text-align: center;
    padding: 10px;
}
.lobby p {
    margin: 0;
}
.lobby .messaging {
    flex-basis: 0px;
}

.lobby .room_info {
    font-size: larger;
}


.team.red {
    color: var(--team-color-red)
}
.team.blue {
    color: var(--team-color-blue)
}
.team.green {
    color: var(--team-color-green)
}
.team.yellow {
    color: var(--team-color-yellow)
}
.join-btn.red {
    background-color: var(--team-bg-red)
}
.join-btn.blue {
    background-color: var(--team-bg-blue)
}
.join-btn.green {
    background-color: var(--team-bg-green)
}
.join-btn.yellow {
    background-color: var(--team-bg-yellow)
}