@import url(colors.css);
@import url(global.css);

body {
    background: var(--background-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* main container */
.container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    /* it is flex max-width */
    max-width: 60rem;
    width: 100%;
}
.flex_spread {
    /* spread container */
    flex: 1 1 auto;
}
.flex_scroll {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    overflow-y: auto;
}
.card {
    margin-top: 10px;
    padding: 10px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
}
.cell {
    isolation: isolate;
    background: var(--card-color-primary);
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 20px var(--card-color-primary);
}

.messages_grid {
    grid-template-columns: 4fr 6fr;
    grid-template-rows: max-content auto max-content;
    display: grid;
    justify-items: stretch;
    border-radius: 10px;
    grid-gap: 1px;
    outline: 1px solid var(--text-color-secondary);
    background-color: var(--text-color-secondary);

    min-height: 0;
    flex: 1 1 0;
}
.card .messaging {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card .messaging > :first-child {
    margin-top: auto
}
.card .new_message {
    margin-top: auto;
}
.card .message {
    max-width: 60%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
}
.card .message .time p {
    margin: 0;
    color: var(--text-color-primary)
}
.card .message .time {
    font-size: smaller;
    color: var(--text-color-secondary)
}
.card .message_in {
    margin-right: auto;
    margin-left: 10px;
}
.card .message_out {
    margin-left: auto;
    margin-right: 40px;
    background-color: var(--card-color-third);
}
.card .message .attachments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card .message .attachment {
    width: 50%;
    outline: var(--text-color-secondary) solid 1px;
    object-fit: cover;
}
.card .message .attachment:first-child {
    width: 100%
}
.card .message .attachment:nth-child(n + 2) { /*last-child:nth-child(even)*/
    height: 100px
}
.card .message .attachment:nth-child(even):last-child {
    width: 100%;
}
.card .message .attachment:nth-child(n + 4) {
    width: 50%
}
.card .message .float {
    position:absolute;
    width:15px;
    height:15px;
    top: 0;
    right: -30px;
    color:var(--text-color-secondary);
    text-align:center;
    padding: 5px;
}
.card .message .float.delete {
    top: 20px;
}
.card .message .float.reply {
    top: 40px;
}
.card .message .float.like {
    right: 5px;
}
.card .message .float.selected {
    color:var(--btn-color-hovered);
}
.card .message .float.selected:hover {
    color:var(--btn-color-hovered);
}
.card .message .float:hover {
    color:#888;
}

.card .user_list {
    overflow-y: auto;
}
.user_list .user {
    font-size: larger;
    margin-bottom: 10px;
}
.user_list .user:hover {
    color: var(--btn-color-hovered);
}
.user_list .user.active {
    background: var(--card-color-secondary);
    color: var(--btn-color);
    font-style: italic;
}

#message_content {
    resize: none;
    outline: none;
    overflow-y: auto;
}
.message_input_form {
    display: flex;
}


.top_left {
    border-top-left-radius: 10px;
}
.top_right {
    border-top-right-radius: 10px;
}
.bottom_left {
    border-bottom-left-radius: 10px;
}
.bottom_right {
    border-bottom-right-radius: 10px;
}
.cell.top {
    background: var(--text-color-secondary);
    color: var(--text-color-white);
    font-size: large;
    box-shadow: none;
}


/*
main ul (DUPLICATION)
 */
.user_info {
    display: flex;
    align-items: baseline;
}
.user_info div:not(:last-child) {
    margin-right: 10px;
}
.user_card {
    position: relative;
    flex-direction: row;
}
.user_image {
    aspect-ratio : 1 / 1;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--text-color-success);
    overflow: hidden;
    transition: 1.0s;
}
.user_image .img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    color: var(--text-color-secondary);
}
.user_image .online {
    border-color: var(--text-color-success);
}
.user_image .offline {
    border-color: var(--text-color-secondary);
}
.user_info_pane {
    margin-right: 100px;
    margin-left: 20px;
}
.tetris-font {
    font-family: "Lucida Sans Typewriter", sans-serif;
}
.user_score {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    text-align: center;
}
.user_region {
    position: absolute;
    bottom: 80%;
    left: 0;
    right: 0;
    text-align: center;
}
.user_name {
    font-size: xx-large;
    font-weight: bold;
}
.user_role {
    border-radius: 10px;
    padding: 5px;
}
.user_card .logout {
    display: flex;
    font-size: 50px;
    top: auto;
    right: 0;
    color: var(--text-color-black);
    text-align: center;
    padding: 25px;
    position: absolute;
}
.user_card .logout:hover {
    color: var(--text-color-black-secondary);
}

/*
scrollbar
 */
::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
    height: 6px;
}
::-webkit-scrollbar-track {
    background: var(--background-color);        /* color of the tracking area */
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
    background: var(--background-color);        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
    background-color: var(--card-color-third);    /* color of the scroll thumb */
    border-radius: 4px;       /* roundness of the scroll thumb */
}
::-webkit-scrollbar-corner {
    background: var(--background-color);
}


.btn-send {
    padding: 15px 32px;
}
.btn_add_user {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.navbar.absolute {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}
.navbar.absolute .link {
    padding-right: 20px;
}
.navbar.absolute .user_image {
    height: 50px;
}
.navbar.absolute .user_image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 50px;
}
/*
records
 */

.record .time {
    font-size: smaller;
    color: var(--text-color-secondary)
}
.record {
    margin-bottom: 10px;
}

.floating_menu {
    position: fixed;
    right: 0; /* Initial position, hidden */
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% - 50px));
    width: auto;
    background-color: var(--card-color-secondary);
    color: var(--text-color-primary);
    border: 5px solid var(--btn-color);
    border-right: none;
    padding: 50px;
    transition: transform 0.3s ease;
    z-index: 20
}
.floating_menu:hover {
    transform: translateY(-50%) translateX(0);
}
.room_player_div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tri_state_toggle {
    display: flex;
    justify-content: center;
    border: 1px solid var(--text-color-black);
    border-radius: 50px;
}
.tri_state_toggle {
    height: auto;
    border-radius: 50%;
    aspect-ratio : 1 / 1;
    margin-left: 10px;

    color: var(--text-color-warning);
    background-color: var(--text-color-warning);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.tri_state_toggle.standby {
    color: var(--text-color-standby);
    background-color: var(--text-color-standby);
}
.tri_state_toggle.ready {
    color: var(--text-color-success);
    background-color: var(--text-color-success);
}
.tri_state_toggle.violation {
    color: var(--text-color-error);
    background-color: var(--text-color-error);
}
.tri_state_toggle.playing {
    color: var(--text-color-inaction);
    background-color: var(--text-color-inaction);
}
.tri_state_toggle.end {
    color: var(--text-color-primary);
    background-color: var(--text-color-primary);
}
.tri_state_toggle.self:hover  {
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}
/*input[type="file"] {*/
/*    display: none;*/
/*}*/

/*.file_upload_label {*/
/*    border: 1px solid #ccc;*/
/*    display: inline-block;*/
/*    padding: 6px 12px;*/
/*    cursor: pointer;*/
/*}*/

table {
    border-collapse: collapse;
}

table, th, td {
    height: 0;
    border: 1px solid var(--btn-color);
    padding: 5px;
}

/*th, td {*/
/*    padding: 8px;*/
/*}*/

table button {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

table button {
    border: none;
    color: var(--text-color-primary);
    background-color: var(--btn-color);
    transition-duration: 0.1s;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
table button:hover {
    color: white;
    background-color: var(--btn-color-hovered);
}

thead th,
thead td {
    background-color: var(--card-color-secondary);
}